@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto+Condensed:300,400');
* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    background: #fff;
    position: relative;
    min-height: 100vh;
}
p {
	font-family: 'Open Sans', sans-serif;
}
ul>li {
	font-family: 'Open Sans', sans-serif;
}
a[type=button] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.dark-background {
	background-color: #111111;
}


.logo {
	height: 80px;
}
.search_input {
	border-radius: 20px;
	height: 40px;
	width: 300px !important;
}
.search_button {
	height: 40px;
	width: 40px;
	border-radius: 20px;
	padding: 0;
}
.navbar {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navigation .nav-link {
	font-size: 15px;
	font-family: 'Roboto Condensed', Helvetica, sans-serif;
	line-height: 35px;
	position: relative;
	font-weight: bold;
}
.navigation .nav-item:nth-child(n+2) {
	margin-left: 15px;
}
.navigation .active .nav-link::after {
	content: '';
	position: absolute;
	background-color: orange;
	height: 3px;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
}
.nav-link>i {
	font-size: 18px;
	font-weight: bold;
}


/* carousel */
.carousel-control-next, .carousel-control-prev {
	width: 80px;
}
.carousel-control-next:hover, .carousel-control-prev:hover {
	color: orange;
}
.carousel-control-next>i, .carousel-control-prev>i {
	font-weight: bolder;
	font-size: 36px;
}
.carousel-indicators li {
	height: 14px;
	width: 14px;
	border-radius: 7px;
	cursor: pointer;
	background-color: white;
}
.carousel-indicators li:nth-child(n+2) {
	margin-left: 10px;
}
.carousel-indicators li.active {
	background-color: orange;
}
.caption-container {
	position: absolute;
	/*margin-top: -350px;*/
	bottom: 90px;
	left: 100px;
}
.slider-container {
	height: 70vh;
}
.slider-image {
	/*height: 100%;*/
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.carousel-details_container {
	/* position: absolute; */
	background-color: rgba(0, 0, 0, 0.7);
	padding: 20px;
	text-align: left;
	width: 600px;
	/* left: 10%;
	bottom: 80px; */
}
.carousel-details_content {
	color: rgba(255, 255, 255, 1) !important;
	line-height: 30px;
	margin-top: 10px;
}

.carousel-details_button {
	background-color: orange;
	color:black;
	border-radius: 0;
	font-weight: bold;
}


.releated-movie_container{
	height: 300px;
	position: relative;
}

/* featured */
.featured-movie_container {
	height: 400px;
	position: relative;
}
.featured-movie_image {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	position: relative;
}
.featured-movie_details_container {
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
	height: auto;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 50px 20px 20px 20px;
}
.featured-movie_details {
	/* position: absolute; */
	color: #fff;
	/* bottom: 20px; */
	/* left: 20px; */
}
.featured-movie_details .ratings i {
	color: yellow;
}




/* new page */
.cover-image_container {
	width: 100%;
	height: 32rem;
	position: relative;
}
.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: relative;
	z-index: -1;
}
.cover-image_container::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 25rem;
	background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0%,#000000 90%);
}

.movie-content_container {
	margin-top: -14rem;
}
.movie-title {
	font-weight: 400;
}
.movie-genre {
	font-size: 18px;
}
.movie-content_ratings {
	font-size: 1.3rem;
}
.movie-content_ratings i {
	color: yellow;
}

.movie-image_container {
	height: 26rem;
	margin-top: -15rem;
}
.movie-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.movie-story {
	/* font-size: 24px; */
}
.movie-story h2 i {
	font-size: 2.5rem;
}
.movie-story p {
	font-size: 16px;
	line-height: 28px;
}
.movie-info>ul>li {
	font-size: 16px;
	line-height: 28px;
}
.yellow-text {
	color: yellow;
}

.share {
	font-size: 18px;
}

/* review */
.user-image_container {
	height: 48px;
	min-width: 48px;
}
.user-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.card {
	border-radius: 0;
}


/* footer */
.footer-heading {
	color: rgba(255, 255, 255, 1);
    font-size: 20px;
}
.footer-logo {
	text-decoration: none;
}
.footer-logo:hover {
	text-decoration: none;
}
.footer-links>li>a, .footer-info>li {
    text-decoration: none;
    display: block;
    padding: 4px;
    color: rgba(255, 255, 255, 0.7);
	font-size: 14px;
}
.footer-links>li>a:hover {
    color: rgba(255, 255, 255, 1);
}
.footer-social>li>a {
	text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
.footer-social>li>a>i {
	font-size: 1.6rem;
}

.social-icon {
	float: left;
	height: 40px;
	width: 40px;
	margin-right: 10px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.social-icon:hover .social-icon>a>i {
	color: rgba(255, 255, 255, 1);
}
.social-icon_facebook:hover {
	background-color: #3b5998;
}
.social-icon_twitter:hover {
	background-color: #1da1f2;
}
.social-icon_instagram:hover {
	background-color: #c13584;
	/* background: -webkit-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
	background: -moz-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -moz-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
	background: -ms-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -ms-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
	background: -o-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -o-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
	background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%); */

}


.footer-copyright {
	font-size: 13px;
}
.footer-copyright>a {
	text-decoration: none;
	color: white;
}



/* forlogin */
/* .main-min-height {
	min-height: 700px;
} */
.login-wrapper {
	top: 80px;
	bottom: 80px;
	left: 0;
	right: 0;
	padding: 44px;
}
.login-form {
	width: 380px;
}
.form-title {
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}
.custom-form_input {
	border-radius: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 32px;
}
.custom-form_input:focus {
	box-shadow: none;
	border-color: #333;
}
.custom-form_button {
	border-radius: 0;
	height: 46px;
	font-family: 'Open Sans', sans-serif;
	background: #333333;
	font-weight: bold;
	color: white;
}
.custom-form_forgot {
	font-size: 14px;
	text-decoration: none;
	color: #888;
	font-family: 'Open Sans', sans-serif;
}
.custom-form_forgot:hover {
	color: #333;
}

.movie-title{
	color:white;
}
.movie-title{
	color:white;
}

.genre-active{
	position: relative;
	line-height: 32px;
}
.genre-active::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 3px;
	background-color: orange;
	list-style-type: none;
}


/*honey effect*/
figure.effect-honey {
	background: rgba(0, 0, 0, 0.9);
	overflow: hidden;
}

figure.effect-honey img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-honey:hover img {
	opacity: 0.5;
}

figure.effect-honey figcaption::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background: orange;
	content: '';
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-honey figcaption .featured-movie_details {
	position: absolute;
	bottom: 20px;
	left: 0;
	padding: 1em 1.5em;
	width: 100%;
	text-align: left;
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.effect-honey figcaption::before,
figure.effect-honey:hover figcaption .featured-movie_details
{
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover figcaption .featured-movie_details {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


.movie-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.static-text{
	font-size: 14px;
	line-height: 24px;

}

.toprated ul li a{
	color:black;

}
.toprated:hover{
	text-decoration:none;

}


/*dashboardcount*/
.stat-icon {
	display: block;
	padding: 40px;
}
.stat-icon i{
	font-size: 100px;
	color: #fff;
}

.stat-text {
	font-size: 16px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}

.stat-digit {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}


/*image edit*/
.user-image_container {
	height: 200px;
	width: 200px;
	overflow: hidden;
}
.user-image_container img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.user-image_edit {
	height: 50px;
	background-color: rgba(0, 0, 0, 0.6);
	bottom: 0;
	left: 0;
	right: 0;
	color: rgba(255, 255, 255, 0.7);
	font-size: 16px;
	/*transform: translateY(50px);*/
	/*transition: .3s ease;*/
	visibility: hidden;
}
.user-image_edit a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.7);
}
.user-image_container:hover .user-image_edit {
	/*transform: translateY(0px);*/
	visibility: visible;
}
.dashboard-card{
	color: black;
}
.dashboard-card:hover{
	text-decoration: none;
}